@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-Regular.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url("../../fonts/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-Italic.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-Italic.ttf") format("truetype");
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("../../fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-Bold.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: url("../../fonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-BoldItalic.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-BoldItalic.ttf") format("truetype");
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("../../fonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-Black.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  src: url("../../fonts/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("../../fonts/Inter-BlackItalic.woff?v=3.13") format("woff"),
       url("../../fonts/Inter-BlackItalic.ttf") format("truetype");
}


.page {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #2a2c2f;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


/* Because 'place' images are only 460px wide, I didn't want to stretch them larger past that width.
	This led to a pretty ugly layout for 'places' section between 460px and 768px, so I added
	this rule to correct that and stop page width from expanding until enough room for 2 columns in 'places'. */

@media screen and (max-width: 767px) {
	
	.page {
		max-width: 460px; 
		margin: 0 auto;
	}
	
}

