.photo-grid__list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
}

/* breakpoints based on max dimensions of available image files */
@media screen and (min-width: 350px) and (max-width: 768px) { 
	
	.photo-grid__list {
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}
	
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	.photo-grid__list {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 14px;
	}
	
}

@media screen and (min-width: 1025px) {
	
	.photo-grid__list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 16px;
	}
	
}
