.photo-grid__list {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(284px, 1fr) );
	gap: 12px;
}

@media screen and (min-width: 350px) { 
	
	.photo-grid__list {
		gap: 16px;
	}
	
}

@media screen and (min-width: 769px) {
	
	.photo-grid__list {
		gap: 14px;
	}
	
}

@media screen and (min-width: 1025px) {
	
	.photo-grid__list {
		gap: 16px;
	}
	
}
