.photo-grid__list {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(235px, 1fr) ); 
	gap: 12px;
	max-width: 352px; 
	margin: 0 auto;
}

@media screen and (min-width: 350px) { 
	
	.photo-grid__list {
		gap: 16px;
	}
	
}

@media screen and (min-width: 525px) {
	.photo-grid__list {
		max-width: 100%;
	}
}


@media screen and (min-width: 769px) {
	
	.photo-grid__list {
		grid-template-columns: repeat( auto-fill, minmax(231px, 1fr) );
		gap: 14px;
	}
	
}

@media screen and (min-width: 1025px) {
	
	.photo-grid__list {
		gap: 16px;
	}
	
}
