@import url(./__item/photo-grid__item.css);

.photo-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
}

@media screen and (min-width: 350px) and (max-width: 768px) { /* breakpoint based on image dimensions */
	
	.photo-grid {
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}
	
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	.photo-grid {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 14px;
	}
	
}

@media screen and (min-width: 1025px) {
	
	.photo-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 16px;
	}
	
}