/* creating a mix class for content-container and applying to each block of content makes it easier to keep track
 * of adaptive styles for padding around and between sections keeping all media queries in a single file. */

.content-container {
	padding: 0 16px 64px 16px;
	margin: 0px auto;
	max-width: 984px;
}

@media screen and (min-width: 768px) {

	.content-container {
		padding: 0 24px 88px 24px;
	}

}

@media screen and (min-width: 984px) {

	.content-container {
		padding: 0 48px 92px 48px;
	}

}

@media screen and (min-width: 1280px) {

	.content-container {
		padding: 0 148px 92px 148px;
	}

}

