/* creating a mix class for content-container and applying to each block of content makes it easier to keep track
 * of adaptive styles for padding around and between sections keeping all media queries in a single file. */

.content-container {
	padding: 0 16px 64px 16px;
	margin: 0px auto;
	max-width: 984px;
}