.figure__caption {
	text-transform:uppercase;
	font-size: 10px;
	line-height: 14px;
	text-align: left;
	letter-spacing: 0.15em;
	margin: 8px 16px 0 16px;
}



@media screen and (min-width: 768px) {

	.figure__caption { 
		margin: 8px 24px 0 24px;
	}

}   


@media screen and (min-width: 984px) {

	.figure__caption { 
		margin: 8px 0 0 0;
	}

}         