@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);


.cover {
	position: relative;
	max-width: 1184px;
	padding: 0;
	margin-bottom: 64px;
}

@media screen and (min-width: 768px) { 

	.cover {
		margin-bottom: 88px;
	}

}

@media screen and (min-width: 984px) { 

	.cover {
		margin-bottom: 92px;
	}

}