@import url(./__container/place__container.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__image/place__image.css);
@import url(./__text-content/place__text-content.css);
@import url(./__paragraph/place__paragraph.css);

.place {
	margin-bottom: 48px;
}

.place:last-child {
	margin-bottom: 0;
}


@media screen and (min-width: 768px) {
	
	.place {
		margin-bottom: 72px;
	}
	
}

@media screen and (min-width: 984px) {
	
	.place {
		margin-bottom: 80px;
	}
	
}